{{#if todo}}
  <form action="/todos/{{{todo.id}}}?_method=PUT" method="POST">
    <input type="checkbox" name="done" {{#if todo.done}}checked{{/if}} hidden>
    <input type="text" placeholder="name" name="name"
     value="{{{todo.name}}}">
    <button type="submit">Update</button>
    <a href="/todos">or Create New</a>
  </form>
{{else}}
  <form action="/todos" method="POST">
    <input type="text" placeholder="name" name="name">
    <button type="submit">Submit</button>
  </form>
{{/if}}

<ul>
  {{#each todos}}
  <li>
    <input type="checkbox" name="done" {{#if this.done}}checked{{/if}}
      onchange="handleCheckboxClick('{{{this.id}}}', {{{this.done}}});"/>
    {{{this.name}}} 
    <a href="/todos/{{{this.id}}}"><button>edit</button></a>
    <form action="/todos/{{{this.id}}}?_method=DELETE" method="POST"
      style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>

<script>
function handleCheckboxClick(id, done){
  fetch(`/todos/${id}/check?done=${!done}`, {
    method: 'PATCH',
  }).then(function(response){
    location.reload()
  })
}
</script>
